.btn:hover {
  background-color: #0056b3;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 35px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.btnParent {
  position: relative;
  width: 100%;
  display: flex;
}
