.formSection {
  margin: 20px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
}

.form {
  width: 100%;
  max-width: 900px;
}

.formGroup {
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  
.formGroup {
  margin-bottom: 20px;
}
.formSection {
  padding: 15px;
}

}
.formGroup > label{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.3rem;
}

.formInput {
  width: 100%;
  padding:20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  max-height: 10px;
  outline: 0;
}

.formSubmitBtn {
  padding: 10px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
}

.formSubmitBtn:hover {
  background-color: #0056b3;
}
.emp {
  display: flex;
  justify-content: center;
}
